.table-view-container {
    .share-button {
        display: none;
    }
}

.cards-container-pos(@top:0,@left:0) {
    .cards-container {
        top:@top;
        left:@left;
    }
    .dealer-button-target {
        top:@top - 10;
        left:@left - 10;
    }
}
.action-amount-pos(@top:0,@left:0,@align:center) {
    div.action-amount {
        top:@top;
        left:@left;
        text-align:@align;
    }
}

.seat-defaults(@avatar-base-left:45%, @avatar-base-top:65%) {
    .avatar-base {
        left: @avatar-base-left;
        top: @avatar-base-top;
    }
    .avatar-base-border {
        left: @avatar-base-left;
        top: @avatar-base-top;
    }
    .avatar {
        left: @avatar-base-left;
        top: @avatar-base-top;
    }
    .custom-avatar {
        left: @avatar-base-left + 2;
        top: @avatar-base-top + 3.5;
    }
    .player-name {
        left:@avatar-base-left + 18;
        top: @avatar-base-top + 4;
    }
    .seat-balance {
        left:@avatar-base-left + 18;
        top: @avatar-base-top + 14;
    }
    .player-status, .action-text,  .hand-strength {
        left:@avatar-base-left + 18;
        top: @avatar-base-top + 22;
    }
    .seat-progressbar {
        left: @avatar-base-left + 43;
        top: @avatar-base-top + 21;
    }
    .player-level {
        position: absolute;;
        left:@avatar-base-left+18;
        top:@avatar-base-top+21;
        z-index: 9999999999;
        width: 6%;
        height: 13%;
    }

  .player-item {
       position: absolute;;
       left:@avatar-base-left+42;
       top:@avatar-base-top+16;
       z-index: 9999999999;
       width: 16%;
       height: 26%;
       background-size: 100% auto;
       background-repeat: no-repeat;
       background-position: center;
     }

  .player-award {
    position: absolute;;
    left:@avatar-base-left+1;
    top:@avatar-base-top+23;
    z-index: 9999999999;
    width: 6%;
    height: 14%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.table-logo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100% 100%;
  opacity: 1;
}

#tableViewContainer {
    width:100%;
    height:100%;
    position: absolute;
    background-size: 100%;
    margin: 0 auto;
}

.multi-view-switch {
    background-image: url("../images/table/single-table-button.png");
    background-size: 100%;
    width:34px;
    height:34px;
    position:absolute;
    left:10px;
    top:10px;
    display:block;
    z-index: 10000000;
    &.multi {
        background-image: url("../images/table/multi-table-button.png");
    }

}

.multi-table {
    .table-container {
        float:left;
        position: relative;
    }
}

.table-container {
    width:100%;
    height:100%;
    .user-select(none);
    position: relative;
    overflow: hidden;
    top:0;
    left:0;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: 85% auto;
}
.default-poker-table {
    width:100%;
    height:80%;
    position: absolute;
}
.bottom-bar {
    bottom: 0;
    height: 16%;
    width: 94%;
    margin: 0% 3%;
    position: absolute;
    padding-top:2%;
}

.own-player {

    z-index: 10;
    position:absolute;
    left:0%;
    top:-35%;
    width:30%;
    height:30%;
    display: inline-block;


    .balance {
        margin-top:1%;
        font-weight: bold;
        color:#ababab;
        &:first-letter {
            color:#ababab;
        }
    }

    .name, .balance {
        font-size:100%;
        display:none;
    }
    .name {
        color:#fff;
        font-size:90%;
        font-weight: bold;
    }
}
.no-more-blinds-container {
    position: absolute;
    display:inline-block;
    clear:both;
    label {
        display: inline-block;
    }
}
.sit-out-next-hand-container {
    position: absolute;
    display:inline-block;
    clear:both;
    top: 40%;
    label {
        display: inline-block;
    }
}
.balance:first-letter {
    color:@mainGreen;
}

.user-actions {
    width:35%;
    height:80%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 30%;
}
.total-pot {
    font-size: 120%;
    position: absolute;
    width: auto;
    top: 35%;
    right: 31%;
    text-align: right;
    color:#ef53a3;
    span {
        color:#fff;
    }
}
.main-pot, .pot-transfer {
    font-size:120%;
    font-weight: bold;
    left:30%;
    top:58.5%;
    position:absolute;
    span {
        color:#fff;
    }
    div {
        display:inline-block;
    }
    .balance:first-letter {
        color:#fff;

    }
}
.pot-transfer {
    width:19%;
    text-align: center;
}
.community-cards {
    position: absolute;
    width: 40%;
    height: 17%;
    left: 30%;
    top: 40%;
}

.card-image {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 100%;
}

.community-card-container {
    position: relative;
    height: 90%;
    width: 18%;
    display: inline-block;
    margin-right: 1%;

    .transform(translate3d(0,30%,0));
    .transition-transform(0.5s ease-out);

}

.dealer-button {
    width:3%;
    height:0%;
    padding-bottom: 3%;
    position: absolute;
    left:0;
    top:0;
    z-index: 100;
    background-size:100%;
    .transition-transform(1s ease-out);
    img {
      max-width: 100%;
    }

}

.hand-history {
    cursor: pointer;
    width: 25%;
    top: 72%;
    left: 3%;
    height: 3%;
    position: absolute;
}


.my-player-seat {

    padding-bottom: 17%;
    width:28.5%;
    position: absolute;
    top:67%;
    left:35.75%;
    font-size:120%;

    .seat-defaults(20%,65%);
    .cards-container-pos(28%,40%);
    .action-amount-pos(5%,0,center);


    .player-name, .seat-balance {
        z-index: 100000;
    }
    .avatar-base {
        width: 55%;
    }
    .progress-bar {
        left:auto;
        right:-10%;
    }
    .action-amount {
        font-size: 90%;
    }
    .hand-strength {
        top: 100%;
        left: 8%;
    }
    .avatar, .player-status, .action-text, .avatar-base {
        z-index: 10;
    }

    .cards-container {
        width: 65%;
        left: 15%;
        height: 60%;
        top:33%;
        z-index: 1;
    }

    .hand-strength {
        left:0%;
        top:100%;
        font-size:100%;
        width:95%;
        text-align: right;
        color: #fff;
        font-weight: normal;
        background-color: transparent;
        text-transform: uppercase;
        text-align: center;
    }

    .player-card-container {
        width: 55%;
        left: 3%;
        top:-10%;
        margin-left:15%;
        z-index: 0;

    }

}
.cards-container {
    .card-image {
        position: absolute;
        top:0;
        left:0;
        .transition-transform(0.5s ease-out);

    }
}

.tournament-table {
    .seat-empty {
        display:none;
    }
    .sit-out-next-hand {
        margin-top:5%;
    }
}