ul.feedbackPanel  {
    margin:0;
    padding:0;
}

.feedbackPanel li{
    border-radius:4px;
    display:block;
    width:100%;
    list-style-type: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-top:4px;
}
div.widtget-content li {
    width: 98%;
    margin: 4px auto;
}
.feedbackPanel li span {
    padding:8px;
    display: inline-block;
}

.feedbackPanel li.feedbackPanelERROR  {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

.feedbackPanel li.feedbackPanelSUCCESS {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.feedbackPanel li.feedbackPanelINFO {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.feedbackPanel li.feedbackPanelWARNING {
    color: #C09853;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
}