
.browser-not-supported {
    max-width:400px;
    width:100%;
    margin:10% auto;
    color: #fff;
    line-height: 1.5;
}
.browser {
    width:50px;
    height:50px;
    display:block;
    float:left;
    margin:10px;

}
.browser img {
    width:100%;
    height:100%;

}
.browser-chrome {
    background: url("../images/chrome-icon.png") no-repeat;
    background-size:100%;
}
.browser-ie {
    background: url("../images/ie-icon.png") no-repeat;
    background-size:100%;
}
.browser-firefox {
    background: url("../images/firefox-icon.png") no-repeat;
}
.browser-safari {
    background: url("../images/safari-icon.png") no-repeat;
}
