button.item_plate
	{
        cursor: inherit;
		pointer-events:auto;
		padding: 0px;
		background-color:rgba(0.25,0.3,0.4,1.0);
		opacity: 1;		
		border: 2px solid #ade;	
		border-radius: 6px;
	 	height: 34px;
	 	width: 78px;
	 	right: 4px;
	 	bottom: 4px;
	}	

button.item_plate:hover
	{

		background-color:rgba(0.85,0.95,1,1.0);	
		border: 2px solid #024;	

	}	
	
button.item_plate:active
	{
		background-color:rgba(0.75,0.9,1,1.0);	
		border: 2px solid #cef;
	}		
	
div.yes_plate
	{
        cursor: inherit;
		pointer-events:auto;
		padding: 0px;
		position: absolute;
		background-color:#0b0;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		opacity: 1;
		box-shadow: 0px 0px 3px #000;	
		border: 2px solid #090;	
		border-radius: 60px;
	 	top: 2px;
	 	left: 2px;
	 	right: 2px;
	 	bottom: 2px;
	}	

div.yes_plate:hover
	{
		background-color:#5f5;
		border: 2px solid #2f2;	

	}	
	
div.yes_plate:active
	{
		background-color:#4c4;
		border: 2px solid #050;
	}	
	
div.no_plate
	{
        cursor: inherit;
		pointer-events:auto;
		padding: 0px;
		position: absolute;
		background-color:#c22;
		background-image: url(../../ui/icons/no_button.png);
		background-size: 100% 100%;
		background-repeat:no-repeat;
		opacity: 1;		
		box-shadow: 0px 0px 3px #000;	
		border: 2px solid #820;	
		border-radius: 60px;
	 	top: 2px;
	 	left: 2px;
	 	right: 2px;
	 	bottom: 2px;
	}	

div.no_plate:hover
	{
		background-color:#f33;
		border: 2px solid #a10;	

	}	
	
div.no_plate:active
	{
		background-color:#a00;
		border: 2px solid #511;	

	}			

div.close_x
	{
        cursor: inherit;
		pointer-events:auto;
		padding: 0px;
		position: absolute;
		background-color:#c22;
		background-image: url(../../ui/icons/close_x.png);
		background-size: 100% 100%;
		background-repeat:no-repeat;
		opacity: 1;		
		box-shadow: 0px 0px 3px #000;	
		border: 2px solid #820;	
		border-radius: 60px;
	 	top: 2px;
	 	left: 2px;
	 	right: 2px;
	 	bottom: 2px;
	}	

div.close_x:hover
	{
		background-color:#f33;
		border: 2px solid #a10;	

	}	
	
div.close_x:active
	{
		background-color:#a00;
		border: 2px solid #301;	

	}


div.select_plate
	{
        cursor: inherit;
		pointer-events:auto;
		padding: 0px;
		position: absolute;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		opacity: 1;
	}

div.select_plate:hover
	{
        background-image: url(../../../resources/images/elements/select_frame_hover.png);

	}

div.select_plate:active
	{
        background-image: url(../../../resources/images/elements/select_frame_active.png);

	}



div.button_progress_bar
	{
        cursor: inherit;
        position:absolute;
		pointer-events: none;
        opacity:0.7;

        background-color: #efa;
		background-size: 100% 100%;
		background-repeat:no-repeat;
        border: 1px solid #ffd;
        border-radius: inherit;
        box-shadow: 0px 0px 7px #000;
        left: 1px;
        height: auto;
		right: 1px;
		bottom: -1px;
	}

 div.item_slot
	{
        cursor: inherit;
		padding: 0px;
		position:absolute;
		border: 1px solid #000;
		border-radius: 8px;
        background-color: rgba(0,0,0,0.28);
		box-shadow: 0px 0px 4px #abc;
		left: -0px;
		bottom: -0px;
		right: -0px;
		top: -0px;
	}

div.item_slot:hover
	{
        box-shadow: 0px 0px 4px #eef;
		border-color: #000;

	}

div.item_slot:active
	{
        box-shadow: 0px 0px 3px #abc;
		border-color: #000;
	}





