#body
	{
        font-family: arial;
        font-weight: bold;
        font-size: 14px;
        -webkit-user-select: none;
		position:absolute;
        margin: 0px;
        padding: 0px;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;

    	background_color:#000;
		color:#fff;
		overflow:hidden;

	}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
    border-radius: 1ex;
    }

::-webkit-scrollbar-thumb {
    border-top: 1px solid #fff;
    background: #ccc;
    border-radius: 4px;
    box-shadow: 0 1 1 #000;
}
div.screenframe
	{
	-webkit-user-select: none;
	pointer-events: none;
	position:absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 1;	
	}

div.fullSize
	{

    position:absolute;
	user-select: none;
    top: 0px;
    width: 100%;
	left: 0px;
	height: 100%;
	}

div.auto_frame
	{
    position:absolute;
	user-select: none;
    top: 0px;
    width: auto;
	left: 0px;
	height: 100%;
	}

#canvas
	{
		position:absolute;
        margin: 0px;
        padding: 0px;
        top: 0px;
        bottom: 0px;
	    left: 0px;
	    right: 0px;
	}


div.grid_container
	{
    pointer-events: auto;
	left: 0px;
    padding: 0px;
    margin-right: 3px;
    margin-left: 1px;
    margin-top:  2px;
    margin-bottom: 0px;
    border-radius: 6px;
	position: relative;
	display: inline-block;
    }


	
div.state_frame
	{
        cursor: inherit;
		pointer-events: auto;
		padding: 0px;
		background-color:#456;
		background-image: url(../../ui/icons/button_overlay.png);
		background-size: 100% 100%;
		background-repeat:no-repeat;
		opacity: 1;		
		position:absolute;
		border: 2px solid #000;	
		border-radius: 9px;
		box-shadow: 0px 0px 3px #000;	
	 	top: 2px;
	 	left: 2px;
	 	right: 2px;
	 	bottom: 0px;
	}	
	
div.state_frame:hover
	{
        background-color:#def;
		box-shadow: 0px 0px 3px #bbd;	
	}	
div.state_frame:active
	{
		background-color:#89a;
		box-shadow: 0px 0px 6px #ccf;	
	}		


div.grid_frame
	{
        cursor: inherit;
		pointer-events: auto;
		padding: 0px;
		background-size: 100% 100%;
		background-repeat:no-repeat;
        background-image: url(../../resources/images/elements/button_topstate_base.png);
		opacity: 1;
		position:absolute;
		border: 2px solid #abc;
		border-radius: 6px;
		box-shadow: 0px 0px 1px #000;
	 	top: 0px;
	 	left: 0px;
	 	right: 0px;
	 	bottom: 0px;
	}

div.grid_frame:hover
	{
        background-image: url(../../resources/images/elements/button_topstate_hover.png);
	}
div.grid_frame:active
	{
        background-image: url(../../resources/images/elements/button_topstate_pressed.png);
	}


div.frameborder
	{
        cursor: inherit;
		padding: 0px;
		position:absolute; 	
		border: 2px solid #fec;	
		border-radius: 14px;	
		box-shadow: 0px 0px 4px #000;
		left: -3px; 
		bottom: -3px; 	
		right: -3px;
		top: -3px; 
	}

div.thin_frameborder
 	{
        cursor: inherit;
		padding: 0px;
		position:absolute;
		border: 1px solid #fec;
		border-radius: 14px;
		box-shadow: 0px 0px 4px #000;
		left: -2px;
		bottom: -2px;
		right: -2px;
		top: -2px;
	}

div.standardframe
	{
        cursor: inherit;
		font-family: arial;
		font-weight: bold;	
		font-size: 15px;
		color: #eef;
		text-shadow: #000 1px 1px 1px;
		text-align: center;
		padding: 0px;
		opacity: 1;
		position:absolute; 	
		border: 2px solid #cde;	
		border-radius: 12px;	
		box-shadow: 0px 0px 4px #000;
		left: -4px; 
		bottom: -4px; 	
		right: -4px;
		top: -4px; 
	}



div.headerframe
	{
        cursor: inherit;
		position:absolute; 	
		border: 1px solid #000;	
		border-radius: 14px;
		box-shadow: 0px 0px 2px #cde;
		left: -2px; 
		bottom: -2px; 	
		right: -2px;
		top: -2px; 
	}



div.list_item_details
	{
        cursor: inherit;
		pointer-events: none;
		background-size: 100%;
		background-repeat:no-repeat;
		padding: inherit;
		position:absolute; 	
		background-color: rgba(0,0,0,0.35);
		background-size: 100%;
		background-repeat:no-repeat;
		box-shadow: 0px 0px 7px #cef;
		border: 1px solid #000;	
		border-radius: 6px;	
		left: 5px;
		bottom: 4px; 	
		right: 5px;
		top: 4px; 
	}	




div.item_frame
	{
        cursor: inherit;
		padding: 0px;
		position:absolute;
		border: 1px solid #9ab;
		border-radius: 8px;
        background-color: rgba(0,0,0,0.25);
		box-shadow: 0px 0px 2px #89a;
		left: -0px;
		bottom: -0px;
		right: -0px;
		top: -0px;
	}


div.item_frame:hover
	{
        box-shadow: 0px 0px 4px #eef;
		border-color: #def;

	}

div.item_frame:active
	{
        box-shadow: 0px 0px 3px #abc;
		border-color: #abc;
	}



div.list_iconframe
	{
        cursor: inherit;
		padding: 0px;
		position:absolute; 	
		border: 2px solid #fec;
        background-color: #000;
		border-radius: inherit;
		box-shadow: 0px 0px 4px #000;
		left: -2px; 
		bottom: -2px; 	
		right: -2px;
		top: -2px; 
	}	
div.full_pressedframe
	{
        cursor: inherit;
		font-family: arial;
		font-weight: bold;
		font-size: 15px;
		color: #eef;
		background-image: url(../../ui/icons/button_overlay.png);
		background-size: 100% 100%;
		background-repeat:no-repeat;
		background-color:rgba(0,0,0,0.45);
		border: 1px solid #000;
		text-shadow: #000 1px 1px 1px;
		text-align: center;
		padding: 0px;
		position:absolute;
		border-radius: 10px;
		box-shadow: 0px 0px 9px #fff;
		left: 3px;
		bottom: 3px;
		right: 3px;
		top: 3px;
	}

div.pressed_frame
	{
        overflow-y: auto;
		font-family: arial;
		font-weight: bold;	
		font-size: 20px;
		color: #ccc;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		background-color:rgba(0,0,0,0.0.18);
		/*border: 1px solid #555;*/
		text-shadow: #fff 0px 0px 2px;
		text-align: center;
		padding: 0px;
		position:absolute; 	
		/*border-radius: 60px;*/
		/*box-shadow: 0px 0px 9px #fff;*/
	}

div.property_frame
	{
        cursor: inherit;
		font-family: arial;
		font-weight: bold;
		font-size: 15px;
		color: #eef;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		background-color:rgba(0,0,0,0.55);
		border: 1px solid #000;
		text-shadow: #000 1px 1px 1px;
		text-align: center;
		padding: 0px;
		position:absolute;
		border-radius: 6px;
		box-shadow: 0px 0px 9px #cde;
		left: 3px;
		bottom: 3px;
		right: 3px;
		top: 22px;
	}

 div.details_box
	{
        cursor: inherit;
		padding: 0px;
		position:absolute;
		border: 2px solid #bbd;
		border-radius: 8px;
        background-color: #888;
		box-shadow: 0px 0px 4px #000;
		left: 0px;
		bottom: -0px;
		right: 04px;
		top: -0px;
	}

div.textfeedbackroot
	
	{
            cursor: inherit;
		padding: 1px;	
		text-align: left;
		position:absolute; 	
		left: 5px; 
		bottom: 5px; 	
		width: 320px;
		height: 200; 
	}
	
div.textfeedbackbox
	{
        cursor: inherit;
		-webkit-user-select: none;
		pointer-events: none;
		font-family: arial;
		padding: 1px;	
		position:absolute; 	
		font-size: 15px;
		font-weight: normal;
		color:#DA0011;

		text-shadow: #020 1px 1px 1px;
		opacity: 0.8;
		left: 0px; 
		bottom: 25px; 	
		top: auto;
		right: 0px; 
	}
	

input.chatboxinputfield
	{
        cursor: inherit;
		-webkit-user-select: auto;
		pointer-events: auto;
		font-family: arial;
		position:absolute; 		
		margin: 0px;
		margin-left: 0px;
		padding-left: 4px;	
		font-weight: bold;
		text-align: left;
		color:#fff;	
		text-shadow: #000 1px 1px 1px;	
		background: transparent;	
		left: 1px;
		bottom: 1px; 	
		top: 1px; 
		right: 1px;
		box-shadow: -1px -1px 2px #def;
		border: 1px solid #abc;	
		border-radius: 6px;		
	}
input.chatboxinputfield:hover	
	{
		text-shadow: #000 1px 1px 2px;	
		box-shadow: -1px -1px 2px #fff;
		background-color:rgba(0,0,0,0.25);
		border: 1px solid #cfd;	

	}	
	
input.chatboxinputfield:active	
	{
		text-shadow: #000 1px 1px 3px;	
		border: 1px solid #ffd;		
	}		
	




input.input_field
	{
        cursor: inherit;
		-webkit-user-select: auto;
		pointer-events: auto;
		font-family: rich_font;
        font-size: 22;
		position:absolute;
		margin: 0px;
		margin-left: 0px;
		padding-left: 4px;
		font-weight: bold;
		text-align: left;
		color:#fff;
		text-shadow: #000 1px 1px 1px;
		background: transparent;
		left: 1px;
		bottom: 1px;
		top: 1px;
		right: 1px;
		box-shadow: -1px -1px 2px #def;
		border: 1px solid #abc;
		border-radius: inherit;
	}

input.input_field:hover
	{
		text-shadow: #000 1px 1px 2px;
		box-shadow: -1px -1px 2px #fff;
		background-color:rgba(0,0,0,0.25);
		border: 1px solid #cfd;

	}

input.input_field:active
	{
		text-shadow: #000 1px 1px 3px;
		border: 1px solid #ffd;
	}



div.state_box
	{
        cursor: inherit;
        position:absolute;
		pointer-events: none;
        left: 0px;
        top: 18px;
		width: 122px;
        left: -61px;
		height: auto;
	}

div.state_column
	{
        cursor: inherit;
        position:relative;
        display: inline-block;
		pointer-events: none;
        left: 0px;
        top: 0px;
		width: 40px;
        left: 0px;
		height: 10;
	}



div.progress_bar
	{
        cursor: inherit;
        position:absolute;
		pointer-events: none;

        background-image: url(../../../resources/images/elements/hp_bar.png);
		background-size: 100% 100%;
		background-repeat:no-repeat;
        left: 0px;
        top: 2px;
		right: 0%;
		bottom: 2px;
	}
div.selected_frame
	{
        cursor: inherit;
		pointer-events:none;
        background-image: url(../../../resources/images/elements/selected_frame.png);
		padding: 0px;
		position: absolute;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		opacity: 1;
    	top: -32px;
	 	left: -32px;
	 	right: -32px;
	 	bottom: -32px;
	}

div.direction_circle
	{
        cursor: inherit;
        position:absolute;
		pointer-events: none;

        background-image: url(../../../resources/images/elements/direction.png);
		background-size: 100% 100%;
		background-repeat:no-repeat;
        left: -32px;
        top: -32px;
		width: 64px;
		height: 64px;
	}