
.login-container {
    width:80%;
    display:block;

}
.login-input-container {
    width:64%;
    display:block;
    float:left;

    input {
        .basic-input;
        width:90%;
        margin-bottom:3%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.login-button {
    .border-radius(10%);
    background-color:@mainGreen;
    width:33%;
    height: auto;
    float:right;
    cursor: pointer;
    span {
        display: block;
        margin: 60% 0 10% 35%;
        font-size: 130%;
        font-weight: bold;
    }
}
.describe {
    color:@grayText;
    font-style: italic;
}
.login-view {
    width:400px;
    margin:0 auto;
    margin-top:15%;
}

.login-dialog {
    width:100%;

}